<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.traffic.Mapper.AutoProductMapper">
    <update id="updateInventory">
        <foreach collection="factories" item="factory" separator=";">
            UPDATE ${tableName}
            SET goodsInventory = #{factory.goodsInventory}, rawInventory = #{factory.rawInventory}
            WHERE id = #{factory.id}
        </foreach>
    </update>

    <select id="enableToProductFactory" parameterType="map">
        SELECT *
        FROM ${tableName}
        WHERE rawInventory &lt; totalInventory * 0.4
          AND (rawInventory+goodsInventory) &lt; totalInventory * 0.8
        ORDER BY (rawInventory+goodsInventory) / totalInventory ASC;
    </select>
</mapper>
