<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.traffic.Mapper.InitMapper">

    <update id="initFactoryTime">
        <foreach collection="ids" item="id" index="index" open="" separator="" close="">
            UPDATE ${tableName}
            SET readytime = #{timestamps[${index}]}
            WHERE id=#{id} AND readytime &lt; #{timestamps[${index}]};
        </foreach>
    </update>

    <select id="chooseFactory">
        SELECT (id,name,address,latitude,longitude)
        FROM ${factoryName}
        WHERE readytime &lt; CURRENT_TIMESTAMP;
    </select>

    <select id="chooseCar">
        SELECT (id,type,load,latitude,longitude)
        FROM car
        WHERE isready = 1;
    </select>

</mapper>

