<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.traffic.Mapper.OrderMapper">
    <select id="getOrderCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM orders
        WHERE state = #{state}

    </select>

    <select id="getCarCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM car
    </select>

    <select id="getOrderFactory">
--         id, name, latitude, longitude, goodsID
        SELECT *
        FROM ${tableName}
        ORDER BY (rawInventory+goodsInventory) / totalInventory ASC
        LIMIT #{amount};
    </select>

    <update id="updateFactoryInventory">
        <foreach collection="factories" item="factory" separator=";">
            UPDATE ${tableName}
            SET goodsInventory = #{factory.goodsInventory}, rawInventory = #{factory.rawInventory}
            WHERE id = #{factory.id}
        </foreach>
    </update>

    <insert id="createOrder" parameterType="com.traffic.pojo.Order">
        INSERT INTO orders (
            generation_time,
            startlatitude, startlongitude,
            endlatitude, endlongitude,
            goodid, goodcount,
            startfactoryid, startfactoryname,
            endfactoryid, endfactoryname,
            carid
        )
        VALUES (
                   #{generation_time},
                   #{startlatitude}, #{startlongitude},
                   #{endlatitude}, #{endlongitude},
                   #{goodid}, #{goodcount},
                   #{startfactoryid}, #{startfactoryname},
                   #{endfactoryid}, #{endfactoryname},
                   #{carid}
               )
    </insert>

    <select id="chooseCars">
        SELECT *
        FROM car
        WHERE isready = 1
        ORDER BY load DESC
        LIMIT #{amout}
    </select>

    <update id="matchingCar">
        UPDATE orders
        SET
    </update>
</mapper>